.button {
  font-family: $main-font;
  font-style: normal;
  text-decoration: none;

  &--download-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: $white;
  }

  &--feedback {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: $granite;
    text-transform: uppercase;
  }

  &--post-button {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: $granite;
  }

  &--cancel-button {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: $granite;
    opacity: 0.1;
  }
}
