.comments__user-name {
  font-family: $main-font;
  font-style: normal;
  font-weight: $weight-bold;
  font-size: 18px;
  line-height: 30px;
  color: $black;
}

.comments__text {
  font-family: $main-font;
  font-style: normal;
  font-weight: $weight-normal;
  font-size: 18px;
  line-height: 30px;
  color: $black;
}
