.description-functions {
  background-color: $smoky-white;
  background-image: url("../../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;

  @media (min-width: $desktop-width) {
    display: flex;
    background-image: none;
  }
}

.description-functions__header {
  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: $black;
}

.description-functions__item {
  &--back-up {
    @media (min-width: $desktop-width) {
      background-image: url("../../img/iphone-screen-1-tablet@1x.png");
      background-repeat: no-repeat;
    }
  }

  &--back-cheange {
    @media (min-width: $desktop-width) {
      background-image: url("../../img/iphone-screen-2-tablet@1x.png");
      background-repeat: no-repeat;
    }
  }

  &--back-find {
    @media (min-width: $desktop-width) {
      background-image: url("../../img/iphone-screen-3-tablet@1x.png");
      background-repeat: no-repeat;
    }
  }

  @media (min-width: $tablet-width) {
    width: 310px;
    margin-left: auto;
  }
}

.description-functions__text {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $granite;
}
