.photos-block {
  font-family: $main-font;
  font-style: normal;
}

.photos-block__item {
  list-style-type: none;
}

.photos-block__list {
  padding: 0;
}

.photos-block__user-photo {
  display: block;
  margin: 0 auto;
}

.photos-block__comment {
  font-weight: $weight-normal;
  font-size: 14px;
  line-height: 24px;
  color: $granite;
}

.photos-block__name {
  font-weight: $weight-bold;
  font-size: 14px;
  line-height: 24px;
  color: $granite;
}

.photos-block__time {
  font-weight: $weight-light;
  font-size: 12px;
  line-height: 24px;
  color: $granite;
}

.photos-block__count-like {
  font-weight: $weight-normal;
  font-size: 12px;
  line-height: 24px;
  color: $red;
}

.photos-block__text-wrap {
  width: 260px;
  background-color: $smoky-white;
}
