.popup-menu {
  background-color: $granite;
}

.popup-menu__item {
  list-style-type: none;
}

.popup-menu__link {
  text-decoration: none;
  font-family: $main-font;
  font-style: normal;
  font-weight: $weight-bold;
  font-size: 18px;
  line-height: 32px;
  color: $white;
  text-transform: uppercase;
}
