.tariff-block__wrapper {
  background: $granite;
  border: 2px solid $granite;
}

.tariff-block__header {
  font-family: $main-font;
  font-style: normal;
  font-weight: $weight-bold;
  font-size: 16px;
  line-height: 30px;
  color: $white;
  text-transform: uppercase;
}

.tariff-block__price {
  font-family: $main-font;
  font-style: normal;
  font-weight: $weight-light;
  font-size: 18px;
  line-height: 30px;
  color: $white;
  text-transform: uppercase;
}

.tariff-block__list {
  font-family: $main-font;
  font-style: normal;
  font-weight: $weight-normal;
  font-size: 14px;
  line-height: 30px;
  color: $granite;
  text-transform: uppercase;
  list-style-type: none;
}
