$main-font: "Open Sans", "Arial", sans-serif;
$weight-light: 300;
$weight-normal: 400;
$weight-bold: 700;
// Цвета
$red: #d22856;
$granite: #283645;
$black: #000000;
$smoky-white: #f2f2f2;
$sapphire-blue: #1d2631;
$white: #ffffff;
