.body {
  position: relative;
  min-width: 320px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    min-width: 660px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1200px;
  }
}

.body-wrapper {
  position: relative;
}
