.download-info {
  background-color: #1d2631;
  font-family: $main-font;
  font-style: normal;
  color: $white;
  padding: 28px 6.25% 38px 6.25%;

  @media (min-width: $tablet-width) {
    background-color: rgba(0, 0, 0, 0);
    width: 300px;
    padding: 39px 3.03% 38px 3.03%;
  }

  @media (min-width: $desktop-width) {
    background-color: rgba(0, 0, 0, 0);
    width: 300px;
    padding: 51px 10.83% 38px 10.83%;
  }
}

.download-info__list {
  padding: 0 38px;
  margin: 0;
  margin-top: 32px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-top: 46px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 67px;
  }
}

.download-info__description {
  margin: 0;
  margin-top: 28px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 300px;
    font-size: 18px;
    margin-top: 38px;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    font-size: 18px;
    margin-top: 58px;
  }
}

.download-info--nomobile {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.download-info--mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
