.header {
  position: absolute;
  width: 100%;
}

.header__button {
  width: 23px;
  height: 23px;
  margin: 0;
  padding: 0;
  border: 0;
  &--mobile {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}
