.header {
  position: absolute;
  width: 100%;

  @media (min-width: $tablet-width) {
    min-height: 110px;
  }
}

.header__button {
  width: 23px;
  height: 23px;
  margin: 0;
  padding: 0;
  border: 0;
  &--mobile {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}
