.logo-link {
  display: block;
  width: 74px;

  &--footer {
    width: 145px;
    height: 40px;
    margin: 40px auto 41px auto;

    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }
}

.logo-link__img {
  &--mobile {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
  &--tablet {
    display: none;

    @media (min-width: 659px) and (max-width: 1199px) {
      display: block;
    }
  }
  &--desktop {
    display: none;

    @media (min-width: 1200px) {
      display: block;
    }
  }
  &--disable {
    @media (min-width: 1200px) {
      display: none;
    }
  }
}
