.main {
  &__promo-wrapper {
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-size: initial;
    background-repeat: no-repeat;
  }

  &__promo {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: white;
  }
}
