.photo-editor__wrapper {
  background-color: $smoky-white;
}

.photo-editor__promo {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $granite;
}

.photo-editor__cancel-button {
  color: $granite;
  opacity: 0.1;
}
