.photos-block {
  font-family: $main-font;
  font-style: normal;
}

.photos-block__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 1fr 1fr;
  }
}

.photos-block__item {
  position: relative;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    width: 300px;
  }

  &--panorama-day {
    @media (min-width: $tablet-width) {
      width: 100%;
      margin: 0 auto;
      margin-bottom: 50px;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      margin: 0;
    }
  }
}

.photos-block__user-photo {
  width: 280px;
  display: block;
  margin: 0 auto;

  &--panorama-day {
    min-width: 320px;
    min-height: 137px;
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    min-width: 300px;

    &--panorama-day {
      min-width: 660px;
      min-height: 509px;
      width: 100%;
    }
  }

  @media (min-width: $desktop-width) {
    &--panorama-day {
      min-width: 1200px;
      min-height: 506px;
      width: 100%;
    }
  }
}

.photos-block__comment {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $granite;
  margin: 0 0 12px 0;
  min-width: 253px;

  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.photos-block__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: $granite;
}

.photos-block__time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: $granite;
}

.photos-block__count-like {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: $red;
  text-transform: uppercase;
  margin: 0;
  margin-left: 18px;
}

.photos-block__text-wrap {
  width: 240px;
  background-color: $smoky-white;
  margin-bottom: 20px;
  min-height: 121px;

  @media (min-width: $tablet-width)  {
    min-height: 155px;
  }

  &--panorama-day {
    @media (min-width: $tablet-width) {
      width: 560px;
      padding-left: 30px;
      padding-right: 30px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 50px 70px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    padding: 0;

    &--panorama-day {
      width: 940px;
    }
  }
}

.photos-block__like-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0px;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.photos-block__wrapp {
  padding-top: 18px;
}

.photos-block__heart {
  fill: $red;

  &--disabled {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: none;

    &--disabled {
      display: block;
      margin-left: 16px;
    }
  }
}

.photos-block__user-photo {
  position: relative;
}

.photos-block__panorama-day {
  z-index: 9999;
  position: absolute;
  left: 50%;
  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  width: 140px;
  height: 36px;
  background-color: $red;
  color: $smoky-white;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    left: 75.76%;
    top: 57px;
  }

  @media (min-width: $desktop-width) {
    left: 77.5%;
    top: 54px;
  }
}

.photos-block__panorama-day-text {
  margin: 0;
  padding-top: 7px;
}

.photos-block__comment-br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
