.popup-menu {
  background-color: #283645;

  &__item {
    list-style-type: none;
  }

  &__link {
    text-decoration: none;
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: white;
    text-transform: uppercase;
  }
}
