.popup-menu {
  background-color: #283645;
}

.popup-menu__item {
  list-style-type: none;
}

.popup-menu__link {
  text-decoration: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: white;
  text-transform: uppercase;
}
