.promo-description {
  @media (min-width: $tablet-width) {
    margin-top: 58px;
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 77px;
    margin-bottom: 72px;
  }
}

.promo-description__photo-br-tablet {
  display: none;
}

.promo-description__tagline {
  margin-top: 43px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: $granite;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 50px;
    line-height: 68px;
  }

  &--font-size {
    font-size: 14px;
    line-height: 30px;

    @media (min-width: $tablet-width) {
      font-size: 18px;
      line-height: 30px;

      .promo-description__photo-br-tablet {
        display: block;
      }

      br {
        display: none;
      }
    }

    @media (min-width: $desktop-width) {
      .promo-description__photo-br-tablet {
        display: none;
      }

      br {
        display: block;
      }
    }
  }
}
