$main-font: "Open Sans", "Arial", sans-serif;
// Colors
$red: #d22856;
$granite: #283645;
$black: #000000;
$smoky-white: #f2f2f2;
$sapphire-blue: #1d2631;
$white: #ffffff;
// Viewports
$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 1200px;
