.сontact-information {
  font-family: $main-font;
  font-style: normal;
  text-align: center;
}

.сontact-information__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: $granite;
}

.сontact-information__header {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: $granite;
  margin-bottom: 0px;
}

.сontact-information__info {
  margin-bottom: 31px;
}

.сontact-information__phone-number,
.сontact-information__mail,
.сontact-information__adress {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $red;
  text-decoration: none;
  margin: 0;
}
